body {
    background-color: #fff!important;
}
.modal-data-view-remaja p, .data-detail-ibuhamil p {
    font-weight: bold;
}

.margin-section {
    margin-top: 150px;
    margin-bottom: 150px;
}

.text-right {
    text-align :right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.bg-custom-ijo {
    background-color: #66B82E;
}

.custom-text-color {
    color:#000092;
}

.normal-line-height {
    line-height: 1.4rem;
}

.custom-button-setting {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    transition: all .3s;
    cursor: pointer;
}

.custom-button-setting a {
    color: #000092;
}

.custom-button-setting:hover{
    transform: translate(0, 10px);
    transition: all .3s;
    cursor: pointer;
}

/* User Pages */

.welcome-wrap {
    height: 100vh;
    position: relative
}

.welcome-wrap-2 {
    height: 450px;
    position: relative
}

.welcome-wrap-2 .content-welcome {
    position: absolute;
    top: 30%;
    left: 0;
    text-align: center;
    width: 100%;
}

.content-welcome {
    position: absolute;
    top: 40%;
}

.btn-custom {
    padding : 10px 45px!important;
    background-color: #66B82E!important;
    border: none!important;
}

a.nav-link {
    font-size: 16px;
}

li.nav-item {
    margin-right: 20px;
}

.overlay {
    background: #000;
    height: 100%;
    opacity: 0.5;
}

.divider {
    display: block;
    height: 5px;
    width: 15%;
    background-color: #66B82E;
}

.featured-image-kegiatan {
    position: relative;
    height: 300px;
}

.featured-image-kegiatan img {
    height: 100%;
    object-fit: cover;
}

.kategori-kegiatan {
    position: absolute;
    top: 30px;
    background: #66B82E;
    padding: 5px 25px;
    border-radius: 20px;
    right: 30px;
    color: #fff;
}

.metadata p svg {
    height: 16px;
    width: 16px;
    margin-top: -5px;
    margin-right: 5px;
}

.konten-singkat p {
    line-height: 1.4rem;
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3em;
}

h4.judul-berita {
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.2em;
}

.menu-footer ul {
    padding-left: 0;
}

.menu-footer ul li {
    list-style: none;
    padding-bottom: 5px;
}

.wa-kepo-wrap {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.wa-kepo-wrap img {
    height: 70px;
}

/* Profile */
.content-body-wrap {
    position: relative;
    top: -80px;
    background: #fff;
    border-radius: 20px 20px 0 0;
}

.number {
    margin-right: 15px;
    height: 36px;
    color: #fff;
    padding: 14px;
    border-radius: 50%;
}
.number p {
    margin-top: -5px;
    transform: translate(0px, 0px);
}

/* Single Berita */
.category-berita {
    padding: 5px 25px;
    border-radius: 5px;
}

.footer-berita-single img {
    margin-right: 10px;
}

.desc-berita-full p {
    line-height: 1.4rem;
}

.divider-aside {
    height: 3px;
    width: 20%;
    margin-top: 10px;
}

.kontent-kegiatan-aside-body a {
    color: #66B82E;
}

.kontent-kegiatan-aside-body a:hover {
    color: #66B82E;
}

.judul-terbatas {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

img.image-aside {
    height: 75px;
    object-fit: cover;
    border-radius: 5px;
}
@media (max-width:685px){
    div#navbarButtonsExample .btn-custom {
        width: 100%;
        margin-left: 0!important;
    }
    div#navbarButtonsExample {
        margin-top: 40px;
    }
    img.image-aside {
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .kontent-kegiatan-aside-body.mb-4 {
        margin-bottom: 30px!important;
    }

    .content-body-wrap.p-6 {
        padding: 30px!important;
    }

    .berita-wrap .card {
        margin-bottom: 20px;
    }

    .content-body-wrap {
        top: -200px;
    }
}