.modal-data-view-remaja p, .data-detail-ibuhamil p {
    font-weight: bold;
}

.text-right {
    text-align :right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.bg-custom-ijo {
    background-color: #66B82E;
}

.normal-line-height {
    line-height: 1.4rem;
}

/* User Pages */

.welcome-wrap {
    height: 100vh;
    position: relative
}

.content-welcome {
    position: absolute;
    top: 40%;
}

.btn-custom {
    padding : 10px 45px!important;
    background-color: #66B82E!important;
    border: none!important;
}

a.nav-link {
    font-size: 16px;
}

li.nav-item {
    margin-right: 20px;
}

.overlay {
    background: #000;
    height: 100%;
    opacity: 0.5;
}

.divider {
    display: block;
    height: 5px;
    width: 15%;
    background-color: #66B82E;
}

.featured-image-kegiatan {
    position: relative;
    height: 300px;
}

.featured-image-kegiatan img {
    height: 100%;
    object-fit: cover;
}

.kategori-kegiatan {
    position: absolute;
    top: 30px;
    background: #66B82E;
    padding: 6px 40px;
    border-radius: 20px;
    right: 30px;
    color: #fff;
}

.metadata p svg {
    height: 16px;
    width: 16px;
    margin-top: -5px;
    margin-right: 5px;
}

.konten-singkat p {
    line-height: 1.4rem;
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3em;
}

h4.judul-berita {
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.2em;
}